[Unit]
Description=cloud-virtual-machine-manager node %I
Wants=modprobe@tun.service modprobe@kvm.service modprobe@zfs.service
PartOf=machines.target
Before=machines.target
After=network.target syslog.target modprobe@tun.service modprobe@zfs.service modprobe@kvm.service
RequiresMountsFor=/srv/vmm/images

[Service]
Type=simple
Slice=machine.slice
RestartSec=7m
TimeoutStartSec=2m
TimeoutStopSec=3m
CapabilityBoundingSet=CAP_NET_ADMIN CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_FSETID CAP_SETGID CAP_SETUID CAP_MKNOD CAP_SETFCAP CAP_DAC_READ_SEARCH
AmbientCapabilities=CAP_NET_ADMIN CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_FSETID CAP_SETGID CAP_SETUID CAP_MKNOD CAP_SETFCAP CAP_DAC_READ_SEARCH
Environment=GOMEMLIMIT=32MiB
Environment=GOGC=100
WorkingDirectory=/srv/vmm/nodes
ExecStart=/usr/bin/cvmm \
    --runas-user hvm \
    --runas-group kvm \
    start %I
Restart=on-failure

[Install]
WantedBy=machines.target